
.icon-user:before { content: '\e800'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-twitch:before { content: '\f1e8'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */